{% extends "base.html" %}
{%load static%}

{%block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Відділення Алергології</title>
      <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
      <link rel="stylesheet" href="{% static 'styles.css' %}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
  <style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
  </style>
<h1>Відділення Алергології</h1>
<div class='photo'>
    <img src="{% static 'images/doctor3.jpg' %}" alt="Doctor">
</div>
<section class='info'>
<p>
    Відділення алергології є спеціалізованим напрямком медицини, яке займається діагностикою, лікуванням та профілактикою алергічних захворювань. Основна мета алергології - допомогти пацієнтам ідентифікувати алергічні сприйнятливості та забезпечити оптимальне керівництво управління алергічними реакціями.

    <ul><b>Основні функції та завдання відділення алергології включають:</b>
    
    <li>Діагностика алергічних захворювань: Алергологи проводять спеціальні тести (наприклад, шкірні проби або кровні аналізи) для визначення причин алергічних реакцій. Вони визначають алергени, на які пацієнт реагує, що дозволяє розробити індивідуальний план лікування.</li>
    <li>Лікування алергій: Алергологи розробляють і реалізують плани лікування алергійних захворювань, які можуть включати ліки (антигістаміни, глюкокортикостероїди тощо), імунотерапію або інші методи, спрямовані на зменшення впливу алергенів на організм.</li>
    <li>Консультативна допомога: Алергологи надають консультації пацієнтам з питань управління алергічними станами, включаючи профілактичні заходи та стратегії під час контакту з алергенами.</li>
    <li>Управління хронічними алергіями: Алергологи спостерігають за пацієнтами з хронічними алергіями, допомагаючи контролювати симптоми і запобігаючи загострення захворювань.</li>
    <li>Дослідження нових методів лікування: Відділення алергології займається постійним дослідженням і впровадженням новітніх методів діагностики та лікування алергій, що дозволяє покращувати результати лікування пацієнтів.</li></ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря імунолога</b>
        <li>Алергічні симптоми на шкірі: Це може включати зуд, покрасніння, висипи, набряки або екзему. Шкірні реакції можуть бути викликані різними алергенами, такими як харчові продукти, ліки, пилок, рослини або домашні тварини.</li>
            <li>Алергічний риніт (сінусит): Це проявляється симптомами, такими як чхання, залозистий носовий виділення, заложеність носа, свербіж носа та очей. Часто спричиняється пилками, тваринами або іншими аерозольними алергенами.</li>
                <li>Астма: Збільшення важкості дихання, підвищений кашель, особливо вночі або після контакту з алергенами, такими як пилок, пухлин або домашні тварини.</li>
                    <li>Алергічний кон’юнктивіт: Це проявляється запаленням очей, свербіжем, сльозотечею, покраснінням очей і набряком.</li>
    </ul>
<div class='caption'><p>Володимир Любивий, завідуючий відділенням Алергології</p>
<p>Практикує більше 35 років</p></div>
    <h2>Доступні послуги у відділенні</h2>
<table class="price" border='1'>
    <tr>
      <th>Послуга</th>
      <th>Вартість</th>
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
       <td>{{ service.Cost }}</td>
      </tr>
    {% endfor %}
</table>
</body>
{%endblock%}