{% extends "base.html" %}
{%load static%}

{%block content%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відділення Кардіології</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<style>
  body {
      font-family: 'Montserrat', sans-serif;
  }
</style>
<h1>Відділення Кардіології</h1>
<div class='doctor_image'>
    <img src="{% static 'images/doctor10.jpg' %}" alt="Doctor">
</div>
<section class='info'>
<p>
    Відділення кардіології є спеціалізованим медичним підрозділом, яке займається діагностикою, лікуванням і профілактикою захворювань серця та судин. Кардіологія є ключовою галуззю медицини, оскільки серце відіграє важливу роль у функціонуванні організму, перекачуючи кров із поживними речовинами та киснем до всіх органів і тканин. 

    <ul><b>Основні аспекти діяльності відділення кардіології включають:</b>
    
    <li>Діагностика серцевих захворювань: Кардіологи здійснюють ретельне обстеження пацієнтів для виявлення різних серцевих захворювань, таких як ішемічна хвороба серця (ангіна, інфаркт міокарда), хронічна серцева недостатність, аритмії, вади серця, вроджені або набуті порушення клапанів серця тощо.</li>
    <li>Лікування серцевих захворювань: Кардіологи розробляють індивідуальні плани лікування для пацієнтів залежно від характеру та стадії захворювання. Лікування може включати призначення ліків, процедури абляції для лікування аритмій, корекцію клапанів серця або хірургічні втручання.</li>
    <li>Профілактика серцевих захворювань: Кардіологи проводять консультації з профілактики серцевих захворювань, зокрема щодо зміни способу життя, включаючи здорове харчування, відмову від паління, регулярну фізичну активність та контроль ваги.</li>
    <li>Реабілітація після серцевих подій: Після інфаркту міокарда або інших серцевих подій, кардіологи надають пацієнтам програми реабілітації, що включають фізичну активність, дієту та інші рекомендації для покращення стану серця.</li>
    <li>Дослідження нових методів лікування: Відділення алергології займається постійним дослідженням і впровадженням новітніх методів діагностики та лікування алергій, що дозволяє покращувати результати лікування пацієнтів.</li></ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря кардіолога</b>
        <li>Біль у грудях: Найбільш характерний симптом серцевих проблем - це біль, дискомфорт або стискання в грудях, особливо за грудинним кістяком. Це може бути ознакою стенокардії (ангіни), інфаркту міокарда або інших серцевих захворювань.</li>
            <li>Задишка або утруднене дихання: Чуття задишки, важкості у грудях під час фізичного навантаження або навіть у спокої може бути зв'язане з серцевими проблемами, зокрема з хронічною серцевою недостатністю або застійною серцевою недостатністю.</li>
                <li>Несвіжий чи неправильний ритм серця: Неправильний ритм серця (аритмія), такий як швидке биці з переривистими паузами, відчуття палпітацій, або відчуття, ніби серце "зламалося", можуть бути ознакою порушень серцевого ритму.</li>
                    <li>Слабкість, втомленість або погіршення фізичної витривалості: Якщо ви помічаєте загальну слабкість, неприродну втомленість або погіршення вашої фізичної витривалості при звичайних навантаженнях, це може бути пов'язано з недостатністю кровопостачання до серця.</li>
    </ul>
<div class='caption'><p>Сергій Шевченко, <br>завідуючий відділенням Кардіології</p>
<p>Практикує більше 15 років</p></div>
<table class="price" border='1'>
    <h2>Доступні послуги у відділенні<h2>
    <tr>
      <th>Послуга</th>
      <!--<th>Вартість</th>-->
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
        <!--<td>{{ service.Cost }}</td>-->
      </tr>
    {% endfor %}
</table>
{%endblock%}