{% extends "base.html" %}
{%load static%}

{%block content%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відділення Дерматології</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<style>
  body {
      font-family: 'Montserrat', sans-serif;
  }
</style>
<h1>Відділення Дерматології</h1>
<div class='doctor'>
    <img src="{% static 'images/doctor16.png' %}" alt="Doctor">
</div>
<section class='info'>
<p>Відділення дерматології є спеціалізованим відділенням в медицині, яке займається діагностикою, лікуванням та профілактикою захворювань шкіри, волосся та нігтів. Дерматологи є експертами у галузі дерматології і використовують різні методи для догляду за шкірою та лікування широкого спектру захворювань шкіри.

    <ul><b>Основні аспекти діяльності відділення дерматології включають:</b>
    
    <li>Діагностика та лікування шкірних захворювань: Дерматологи займаються діагностикою та лікуванням різноманітних захворювань шкіри, таких як екзема, атопічний дерматит, псоріаз, акне, дерматофітія (грибкові захворювання шкіри), розлади пігментації (наприклад, вітіліго), дерматіти, герпес, папіломи та інші.</li>
    <li>Лікування хвороб шкіри, пов'язаних з інфекціями: Дерматологи також лікують інфекційні захворювання шкіри, такі як грибкові або бактеріальні інфекції, вірусні ураження (наприклад, вірусний бородавки), стафілококовий дерматит, моллюсконтагіоз та інші.</li>
    <li>Відновлення шкіри після травм або опіків: Дерматологи допомагають відновити шкіру після травм, опіків, рубців та інших уражень шкіри за допомогою методів реконструктивної та косметичної дерматології.</li>
    <li>Догляд за шкірою та профілактика: Дерматологи консультують пацієнтів з питань профілактики шкірних захворювань, правильного догляду за шкірою, вибору косметики та сонцезахисних засобів.</li>
    <li>Лазерна терапія та інші процедури: Деякі дерматологи використовують лазерні та інші процедури (наприклад, кріоліполіз) для лікування певних захворювань шкіри або косметичних втручань.</li>
</ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря дерматолога</b>
    <li>Висипи на шкірі: Якщо ви помічаєте незвичайні висипи, плями, вузли або пухирі на шкірі, особливо якщо вони сильно сверблять, змінюють розмір або форму, це може свідчити про різні шкірні захворювання, такі як алергічні реакції, екзема, псоріаз, інфекції шкіри або інші стани.</li>
    <li>Сухість, лущення або тріщини на шкірі: Якщо ваша шкіра стала надмірно сухою, лущиться або утворює тріщини, особливо на руках, ногах або обличчі, це може бути знаком різних дерматологічних проблем, включаючи дерматіти або екзему.</li>
    <li>Пігментні плями або зміни у розташуванні родимок: З'явлення нових пігментних плям або зміни у вже існуючих родимок (зміна кольору, розміру, форми або кровоточивість) може бути попереджувальними ознаками ураження шкіри, таких як рак шкіри.</li>
    <li>Підозра на інфекцію шкіри: Якщо ви маєте підозру на наявність інфекції шкіри (наприклад, грибкової або бактеріальної інфекції), звертайтеся до дерматолога для правильної діагностики та лікування.</li>
    <li>Реакція на косметичні засоби: Якщо у вас виникають шкірні реакції після застосування нових косметичних засобів (наприклад, обличчя стає червоним або починає свербіти).</li>
    </ul>
<div class='caption'><p>Дмитро Кім, завідуючий відділенням Дерматології</p>
<p>Практикує більше 13 років</p></div>
<table class="price" border='1'>
    <h2>Доступні послуги у відділенні<h2>
    <tr>
      <th>Послуга</th>
     <!--<th>Вартість</th>--> 
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
       <!--<td>{{ service.Cost }}</td>--> 
      </tr>
    {% endfor %}
</table>
</body>
{%endblock%}