{% extends "base.html" %}
{%load static%}

{%block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Відділення Отоларингології</title>
      <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
      <link rel="stylesheet" href="{% static 'styles.css' %}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
  <style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
  </style>
<h1>Відділення Отоларингології</h1>
<div class='doctor_image'>
    <img src="{% static 'images/doctor1.jpg' %}" alt="Doctor">
</div>
<section class='info'>
<p>Отоларингологія, часто називана ЛОР-терапією (від "отоларингологія" - вухо, горло, ніс), є спеціалізацією в медицині, яка займається діагностикою та лікуванням захворювань вуха, горла і носа, а також структур, пов'язаних з головою і шиєю. Це розділення медицини об'єднує аспекти органів чуття (слуху і запаху), глотки, гортані, шийних структур та пов'язаних з ними патологій.

    <ul><b>Основні області, які охоплює відділення отоларингології, включають:</b>
    
    <li>Вухо: Отоларингологи діагностують та лікують захворювання вуха, такі як вухові інфекції, воспалення середнього вуха (отит), проблеми з слухом (включаючи вушну курячу сліпоту), та патології внутрішнього вуха.</li>
    <li>Горло: Ця область охоплює усі види захворювань горла і глотки, такі як фарингіт (запалення глотки), ларингіт (запалення гортані), <br>а також патології стравоходу, зокрема рефлюкс-сполучення гортані.</li>
    <li>Ніс: Отоларингологи спеціалізуються на діагностиці та лікуванні різноманітних носових захворювань, таких як риніт (запалення носа), синусит (запалення пазух носа), алергії, поліпи носа та інші.</li>
    <li>Голова і шия: Відділення отоларингології також включає у себе обстеження та лікування різних патологій, що стосуються голови та шиї, таких як пухлини, кісти, травми, аномалії ліктя.</li></ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря отоларинголога</b>
        <li>Проблеми із слухом: Зниження слуху, поява шуму або писків у вухах, відчуття закладеності або болю в вухах можуть бути ознаками різних вухових захворювань, які потребують оцінки лікаря отоларинголога.</li>
            <li>Біль у горлі і проблеми з глоткою: Постійний біль у горлі, особливо якщо супроводжується утрудненим ковтанням, може бути ознакою інфекційного або запального процесу в горлі чи глотці.</li>
                <li>Часті застуди та запалення носа: Постійні або часті застуди, запалення носа, нудота або нездужання можуть бути пов'язані з алергіями, синуситом або іншими носовими захворюваннями, які потребують консультації отоларинголога.</li>
                    <li>Проблеми з диханням через ніс: Часті нісні кровотечі, затруднення дихання через ніс (наприклад, через поліпи або дефекти перегородки носа), а також хронічні відчуття заложеності носа - це причини для візиту до лікаря отоларинголога.</li>
                        <li>Постійний кашель або проблеми з голосом: Якщо ви стикаєтесь з постійним кашлем, особливо якщо він супроводжується втратою голосу або змінами в голосі, це може бути знаком проблем з горлом або гортанню.</li>
                            <li>Запахи або смаки: Зміни у сприйнятті запахів або смаку також можуть свідчити про проблеми з носом або горлом, які варто оцінити спеціалістом отоларингологом.</li>
                                <li>Аномалії голови і шиї: Болі або набряки в області голови і шиї, нові або змінюючіся вузли або маси також потребують оцінки лікаря отоларинголога для виключення серйозних причин, таких як пухлини або інші патології.</li>
    </ul>
<div class='caption'><p>Андрій Степанов, <br>завідуючий відділеням Отоларингології</p>
<p>Практикує більше 10 років</p></div>
<table class="price" border='1'>
    <h2>Доступні послуги у відділенні<h2>
    <tr>
      <th>Послуга</th>
      <!--<th>Вартість</th>--> 
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
       <!--<td>{{ service.Cost }}</td>--> 
      </tr>
    {% endfor %}
</table>
{%endblock%}
