{% extends "base.html" %}
{%load static%}

{%block content%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відділення Гастроентології</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<style>
  body {
      font-family: 'Montserrat', sans-serif;
  }
</style>
<h1>Відділення Гастроентології</h1>
<div class='doctor_image'>
    <img src="{% static 'images/doctor5.jpg' %}" alt="Doctor">
</div>
<section class='info'>
<p>Відділення гастроентерології є спеціалізованим відділенням в медицині, яке займається діагностикою, лікуванням та профілактикою захворювань, пов'язаних із шлунком, кишками та печінкою. Гастроентерологи спеціалізуються на органах травного тракту і забезпечують комплексну медичну допомогу пацієнтам з різними хворобами цієї системи.

    <ul><b>Основні функції та завдання відділення гастроентерології включають:</b>
    <li>Діагностика та лікування захворювань шлунково-кишкового тракту: Гастроентерологи займаються діагностикою та лікуванням різних захворювань, таких як гастрит, виразкова хвороба шлунка і дванадцятипалої кишки, запалення кишечника (таке як хвороба Крона або виразковий коліт), дізентерія, коліт, а також інші хвороби, що впливають на травний тракт.</li>
    <li>Ендоскопічні процедури: Гастроентерологи виконують ендоскопічні процедури, такі як езофагогастродуоденоскопія (ЕГДС) та колоноскопія, для огляду внутрішніх стінок травного тракту, виявлення патологічних змін, взяття біопсій та проведення деяких лікувальних процедур.</li>
    <li>Діагностика та лікування захворювань печінки: Гастроентерологи вивчають і лікують різні хвороби печінки, такі як гепатит, цироз печінки, жирова хвороба печінки та інші патології.</li>
    <li>Діагностика та лікування проблем зі здоров'ям жовчного міхура та підшлункової залози: Гастроентерологи займаються проблемами жовчного міхура та підшлункової залози, включаючи жовчні камені, панкреатит та інші стани.</li>
    </ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря гастроентеролога</b>
    <li>Біль чи дискомфорт у животі: Постійний або інтенсивний біль у животі, особливо якщо він змінюється в залежності від прийому їжі або часу доби, може бути ознакою різних захворювань травного тракту, таких як виразкова хвороба шлунка, запалення кишечника або жовчнокам'яна хвороба.</li>
    <li>Необґрунтована втрата апетиту або незвичайне схуднення: Зміни в апетиті, які призводять до непропорційної втрати ваги, можуть бути ознакою патологічних процесів у шлунку або кишечнику.</li>
    <li>Сильне відчуття газів, відрижка чи вибухання після їжі: Це може бути пов'язано з харчовими непереносимостями або різними хворобами шлунково-кишкового тракту.</li>
    <li>Різка зміна кольору сечі: Це може бути ознакою проблем з печінкою або жовчним міхуром.</li>
    </ul>
<div class='caption'><p>Андрій Павлов, <br>завідуючий відділенням Гастроентології</p>
<p>Практикує більше 12 років</p></div>
<table class="price" border='1'>
    <h2>Доступні послуги у відділенні<h2>
    <tr>
      <th>Послуга</th>
      <th>Вартість</th>
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
        <td>{{ service.Cost }}</td>
      </tr>
    {% endfor %}
</table>
</body>
{%endblock%}