{% extends "base.html" %}
{%load static%}
 
{%block content%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відділення Гінекології</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<style>
  body {
      font-family: 'Montserrat', sans-serif;
  }
</style>
<h1>Відділення Гінекології</h1>
<div class='doctor'>
    <img src="{% static 'images/doctor8.jpg' %}" alt="Doctor">
</div>
<section class='info'>
<p>Відділення гінекології є спеціалізованим напрямком медицини, яке займається діагностикою, лікуванням та профілактикою захворювань, пов'язаних з жіночою репродуктивною системою. Основна мета гінекологічного відділення - забезпечити жінкам комплексну медичну допомогу, спрямовану на збереження та покращення їхнього здоров'я.

    <ul><b>Основні області діяльності відділення гінекології включають:</b>
    
    <li>Гінекологічні обстеження: Гінекологічні огляди та обстеження, такі як гінекологічний анальний огляд та ультразвукове дослідження органів малого тазу, проводяться для виявлення патологій і захворювань жіночої статевої системи.</li>
    <li>Діагностика та лікування захворювань: Гінекологи діагностикують та лікують різноманітні захворювання, такі як запальні процеси (наприклад, вагініти), фіброїдні пухлини матки, ендометріоз, поліпи, доброякісні та злоякісні новоутворення органів репродукції.</li>
    <li>Контроль вагітності: Гінекологи надають медичний супровід вагітних жінок, включаючи планування вагітності, вагітність, пологи та післяпологовий період.</li>
    <li>Лікування інфекцій та венеричних захворювань: Діагностика і лікування інфекцій, таких як генітальний герпес, хламідіоз, гонорея та інші захворювання, передаються статевим шляхом.</li>
    <li>Менструальні розлади: Діагностика та лікування різних менструальних порушень, включаючи аменорею, дисменорею та необхідність корекції гормонального стану.</li></ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря гінеколога</b>
    <li>Біль або дискомфорт в області статевих органів: Біль або неприємні відчуття в області піхви, матки, яєчників чи підчас статевого акту можуть бути ознакою інфекції, запалення або інших проблем.</li>
    <li>Незвичайні кровотечі: Якщо виникають незвичайні кровотечі поза менструаційним періодом, наприклад, після статевого акту, між менструаціями або після менопаузи, це може бути ознакою проблеми, такої як поліпи, фіброїди, або рак.</li>
    <li>Біль у животі чи тазовій області: Інтенсивний або тривалий біль у животі або тазовій області може свідчити про проблеми з маткою, яєчниками чи іншими органами репродукційної системи.</li>
    <li>Вагітність: Якщо ви плануєте вагітність або вже зачали, лікар гінеколог надасть консультації щодо планування вагітності, а також медичного супроводу вагітності.</li>
    <li>Зміни в грудях: Якщо ви помічаєте зміни в грудях, такі як вузли або болючі відчуття, це також може потребувати оцінки гінеколога.</li>
    </ul>
<div class='caption'><p>Яніна Соловій, завідуюча відділенням Гінекології</p>
<p>Практикує більше 9 років</p></div>
<table class="price" border='1'>
    <h2>Доступні послуги у відділенні<h2>
    <tr>
      <th>Послуга</th>
    <!--<th>Вартість</th>--> 
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
       <!--<td>{{ service.Cost }}</td>--> 
      </tr>
    {% endfor %}
</table>
</body>
{%endblock%}