{% extends "base.html" %}
{%load static%}

{%block content%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відділення Мамології</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<style>
  body {
      font-family: 'Montserrat', sans-serif;
  }
</style>
<h1>Відділення Мамології</h1>
<div class='doctor_image'>
    <img src="{% static 'images/doctor11.jpg' %}" alt="Doctor">
</div>
<section class='info'>
<p>
    
Відділення мамології є спеціалізованим медичним підрозділом, яке займається діагностикою, лікуванням і профілактикою захворювань молочних залоз (грудей) у жінок. Основна мета мамології полягає в забезпеченні здоров'я молочних залоз та вчасного виявлення різних патологій, включаючи рак молочної залози.  

    <ul><b>Основні аспекти діяльності відділення мамології включають:</b>
    
    <li>Діагностика захворювань молочних залоз: Мамологія займається виявленням та оцінкою різних захворювань грудей, включаючи кісти, фіброаденоматоз, мастопатію, запальні процеси та пухлини (доброякісні і злоякісні).</li>
    <li>Скринінг на рак молочної залози: Мамологи проводять скринінгові обстеження (мамографію, ультразвукове дослідження) для виявлення ознак раку молочної залози у жінок, особливо після 40 років.</li>
    <li>Обстеження і лікування мастопатії: Мастопатія є однією з найпоширеніших патологій молочних залоз у жінок. Мамологи діагностують та лікують мастопатію, забезпечуючи відповідне лікування для зняття болю і запобігання ускладнень.</li>
    <li>Консультації з проблемами грудей: Мамологи надають консультації жінкам з питань щодо здоров'я молочних залоз, зокрема стосовно самообстеження грудей та ранньої виявлення змін.</li>
    <li>Підготовка до вагітності та годування груддю: Мамологи надають поради жінкам з проблемами молочних залоз щодо підготовки до вагітності, а також щодо годування груддю.</li></ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря мамолога</b>
        <li>Болі або дискомфорт в грудях: Постійні або періодичні болі, дискомфорт, почуття напруженості або випадання, особливо якщо вони не зникають протягом тривалого часу, можуть вимагати оцінки мамологом.</li>
            <li>Помітні зміни шкіри грудей: Зміни в шкірі грудей, такі як червоні плями, виразки, втрата еластичності шкіри або утворення втягнень (дірок), можуть вимагати оцінки мамологом.</li>
                <li>Виділення з сосків: Випадіння кров'янистого або прозорого виділення з сосків (крім молока під час вагітності або годування груддю) може бути ознакою патології молочних залоз.</li>
                    <li>Утворення вузлів або пухлин: Виявлення вузликів або пухлин в грудях, які можна відчути під час самообстеження грудей, потребує обов'язкової консультації з мамологом.</li>
    </ul>
<div class='caption'><p>Альона Рудькова, <br>завідуюча відділенням Мамології</p>
<p>Практикує більше 12 років</p></div>
<table class="price" border='1'>
    <h2>Доступні послуги у відділенні<h2>
    <tr>
      <th>Послуга</th>
      <th>Вартість</th>
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
        <td>{{ service.Cost }}</td>
      </tr>
    {% endfor %}
</table>
{%endblock%}