{% extends "base.html" %}
{%load static%}

{%block content%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відділення Неврології</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<style>
  body {
      font-family: 'Montserrat', sans-serif;
  }
</style>
<h1>Відділення Неврології</h1>
<div class='doctor_image'>
    <img src="{% static 'images/doctor12.jpg' %}" alt="Doctor">
</div>
<section class='info'>
<p>
    
Відділення неврології є спеціалізованим медичним підрозділом, яке займається діагностикою, лікуванням і реабілітацією захворювань центральної та периферійної нервової системи. Неврологія вивчає структури, функції та захворювання мозку, спинного мозку, нервів і м'язів.  

    <ul><b>Основні аспекти діяльності відділення неврології включають:</b>
    
    <li>Діагностика нервових захворювань: Неврологи здійснюють комплексне обстеження пацієнтів для виявлення різних неврологічних захворювань, таких як епілепсія, інсульт, хвороба Паркінсона, деменція, розлади рухів, мігрень, неврити, полінейропатії та інші.</li>
    <li>Лікування неврологічних захворювань: Неврологи розробляють індивідуальні плани лікування для пацієнтів залежно від діагнозу. Лікування може включати медикаментозну терапію, фізіотерапію, реабілітацію, хірургічні втручання та інші методи.</li>
    <li>Управління болями: Неврологи спеціалізуються на діагностиці та лікуванні різних форм болі, таких як мігрень, невралгії, нейропатичний біль тощо.</li>
    <li>Лікування епілепсії: Неврологи виявляють та лікують пацієнтів з епілепсією, назначаючи антиепілептичні препарати або розглядаючи інші методи контролю захворювання.</li>
    <li>Консультації з порушеннями пам'яті та психічними станами: Неврологи надають консультації пацієнтам з порушеннями пам'яті, концентрації, поведінковими або психічними станами, такими як депресія чи тривожність, пов'язан</li></ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря невролога</b>
        <li>Мурашки, слабкість або оніміння: Відчуття мурашок, слабкості або оніміння в руках, ногах або інших частинах тіла, які не мають очевидної причини (наприклад, після тривалого стояння або неправильного положення).</li>
            <li>Проблеми з координацією: Порушення рухів або неспроможність утримувати рівновагу, особливо якщо ці проблеми виникають раптово або стають гіршими з часом.</li>
                <li>Епілептичні припадки: Необґрунтовані або повторюючіся епілептичні припадки, які проявляються у вигляді непередбачуваних змін у поведінці, свідомості або рухах.</li>
                    <li>Біль або головокружіння: Постійний або інтенсивний біль у голові, а також часті або сильні головокружіння, особливо якщо вони постійно повторюються або не мають очевидної причини.</li>
                    <li>Зміни в мовленні або розумінні: Труднощі з мовленням, розумінням мови, втрата слів або зміни в здатності висловлювати думки чітко.</li>
                    <li>Зміни в зорі: Поява подвійного зору, розмитість зору, втрата зору або будь-які інші незвичайні зміни в зорі, які не пов'язані з очними проблемами.</li>
    </ul>
<div class='caption'><p>Станіслав Зеленоватий, <br>завідуючий відділенням Кардіології</p>
<p>Практикує більше 37 років</p></div>
<table class="price" border='1'>
    <h2>Доступні послуги у відділенні<h2>
    <tr>
      <th>Послуга</th>
      <th>Вартість</th>
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
        <td>{{ service.Cost }}</td>
      </tr>
    {% endfor %}
</table>
{%endblock%}