{% extends "base.html" %}
{%load static%}

{%block content%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відділення Проктології</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<style>
  body {
      font-family: 'Montserrat', sans-serif;
  }
</style>
<h1>Відділення Проктології</h1>
<div class='doctor_image'>
    <img src="{% static 'images/doctor13.jpg' %}" alt="Doctor">
</div>
<section class='info'>
<p>
    Відділення проктології є спеціалізованим медичним підрозділом, яке займається діагностикою, лікуванням і профілактикою захворювань, пов'язаних з прямою кишкою, анусом і навколишніми тканинами. Проктологія спеціалізується на захворюваннях товстої кишки, прямої кишки, анусу і проксимальної частини прямої кишки.

    <ul><b>Основні аспекти діяльності відділення проктології включають:</b>
    
    <li>Діагностика геморою: Проктологи вивчають і лікують геморой, що є однією з найпоширеніших проблем проктології. Вони проводять обстеження, включаючи дослідження проктоскопією або аноскопією, для оцінки ступеня геморою та вибору оптимального лікування.</li>
    <li>Діагностика та лікування поліпів та пухлин прямої кишки: Проктологи проводять обстеження для виявлення поліпів або пухлин у прямій кишці та розробляють плани лікування в залежності від їх характеру.</li>
    <li>Контроль за запальними захворюваннями кишки: Проктологи спостерігають за пацієнтами з запальними захворюваннями кишечника, такими як коліт, хвороба Крона, проктит або параректальний абсцес.</li>
    <li>Лікування інших захворювань прямої кишки: До інших проблем, які вирішують проктологи, включаються проктозі, параректальні абсцеси, ректальні прокладки, прокталгія та інші аномалії та захворювання, пов'язані з цим регіоном.</li>
</ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря проктолога</b>
        <li>Біль, дискомфорт або свербіж в анусі: Постійний або періодичний біль, дискомфорт, печіння або свербіж в області анусу може бути зв'язаним з різними проблемами, такими як геморой, анальні тріщини, запалення або інші захворювання прямої кишки.</li>
            <li>Кровотеча під час або після дефекації: Наявність крові на туалетному папері, в бідоні чи на білизні після відходів, може бути ознакою геморою, тріщини або іншої серйозної проблеми, яку потрібно оцінити проктологом.</li>
                <li>Постійний запаморочення або відчуття неповного виділення: Постійне відчуття, що не вдається повністю видати випорожнення, може бути ознакою проблеми з тонусом або м'язами прямої кишки.</li>
                    <li>Зміни в анальному каналі або випинання: Поява нових випинань, які можуть бути гемороїдальними вузлами, поліпами чи іншими утвореннями в анальній області, потребує обстеження спеціалістом.</li>
    </ul>
<div class='caption'><p>Владислав Корягін, <br>завідуючий відділенням Проктології</p>
<p>Практикує більше 25 років</p></div>
<table class="price" border='1'>
    <h2>Доступні послуги у відділенні<h2>
    <tr>
      <th>Послуга</th>
      <th>Вартість</th>
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
        <td>{{ service.Cost }}</td>
      </tr>
    {% endfor %}
</table>
{%endblock%}