<!DOCTYPE html>
<HTML>
{%load static%}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Редагувати запис</title>
          <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
          <link rel="stylesheet" href="{% static 'styles.css' %}">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      </head>
      <body>
      <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
      </style>
<body>
    <header class='menu'><a href="{% url 'Сайт для персоналу' %}">Клініка "Ваше Здоров'я. Сайт для персоналу</a></header>
    <h1>Редагувати запис</h1>
    <form class='forma' method='POST'>
        {% csrf_token %}
    
            <h3>Введіть дані</h3>     
            <div class="form-group"> 
                <label>Назва Відділення:</label> <br> 
                {{ form.department }}   
            </div>
            <div class="form-group"> 
                <label>Назва послуги:</label> <br> 
                {{ form.NameOfService }}   
            </div>  
            </div> 
           <!-- <div class="form-group"> 
                <label>Вартість:</label>  <br>
                {{ form.Cost }} -->   
            </div>
            <button type="submit" class="knop">Редагувати</button>  
</body>
<footer> 
    <img class ='contact_logo' src="{% static 'images/phone.png' %}" alt="phone logo"> +380660078941 
    <img class ='contact_logo' src="{% static 'images/mail.png' %}" alt="mail logo"> behealthy@gmail.com
    <img class ='contact_logo' src="{% static 'images/ig.png' %}" alt="instagram logo"> behealthy<br>
    Розроблено студентом групи 6.04.121.010.20.3 Акуловим Артемом
</footer>
</html>