{%extends "base.html"%}
{%load static%}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Відділення Терапевтії</title>
      <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
      <link rel="stylesheet" href="{% static 'styles.css' %}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
  <style>
    body {
        font-family: 'Montserrat', sans-serif;
    }
  </style>
<h1>Відділення Терапевтії</h1>
<div class='doctor'>
    <img src="{% static 'images/doctor2.jpg' %}" alt="Doctor">
</div>
<section class='info'>
<p>Відділення терапевтії є ключовим компонентом медичної системи, оскільки терапевти - це лікарі загальної практики, які спеціалізуються на діагностиці, лікуванні та профілактиці різних захворювань у дорослих. Основна мета терапевтів - підтримка загального здоров'я пацієнтів та координація їх медичної допомоги.

    <ul><b>Основні обов'язки терапевтів включають:</b>
    
    <li>Діагностика і лікування загальних захворювань: Терапевти визначають причини симптомів, які турбують пацієнта, і розробляють плани лікування. Вони лікують широкий спектр захворювань, від інфекційних та вірусних хвороб до хронічних захворювань, таких як діабет, артеріальна гіпертензія і хвороби серця.</li>
    <li>Моніторинг хронічних станів: Терапевти ведуть облік та контролюють пацієнтів із хронічними захворюваннями, сприяючи оптимізації лікування для забезпечення максимальної якості життя.</li>
    <li>Профілактика: Терапевти сприяють запобіганню захворювань шляхом проведення регулярних медичних оглядів, рекомендацій щодо здорового способу життя, щеплень та інших профілактичних заходів.</li>
    <li>Направлення на консультації інших спеціалістів: Терапевти визначають необхідність консультації інших спеціалістів, таких як кардіологи, ендокринологи, неврологи чи пульмонологи, і забезпечують координацію медичної допомоги в межах медичної системи.</li>
    <li>Підтримка загального здоров'я: Терапевти надають поради з підтримки загального здоров'я, включаючи здорове харчування, фізичну активність та управління стресом.</li></ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря терапевта</b>
        <li>Лихоманка: Підвищена температура тіла, особливо якщо триває декілька днів або супроводжується іншими симптомами, такими як біль у горлі, кашель або біль.</li>
            <li>Кашель: Постійний або інтенсивний кашель, особливо якщо супроводжується підвищенням температури, виділенням мокроти, болем у грудях чи скороченням дихання.</li>
                <li>Біль у животі: Постійний або гострий біль у животі, дискомфорт, втрата апетиту чи неправильність у стільці.</li>
                    <li>Проблеми з диханням через ніс: Часті нісні кровотечі, затруднення дихання через ніс (наприклад, через поліпи або дефекти перегородки носа), а також хронічні відчуття заложеності носа - це причини для візиту до лікаря отоларинголога.</li>
                        <li>Постійна втома: Надмірна втома, яка не зникає після відпочинку та нормального сну.</li>
                            <li>Травми та біль у суглобах: Здуття, біль або обмеження руху в суглобах, особливо після травми чи неприємних відчуттів.</li>
                                <li>Зміни у здоров'ї: Інші неспецифічні симптоми, які тривають тривалий час і турбують ваше здоров'я.</li>
    </ul>
<div class='caption'><p>Валерія Миколайчук, <br>завідуюча відділенням Терапевтії</p>
<p>Практикує більше 7 років</p></div>
<table class="price" border='1'>
    <h2>Доступні послуги у відділенні<h2>
    <tr>
      <th>Послуга</th>
      <th>Вартість</th>
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
        <td>{{ service.Cost }}</td>
      </tr>
    {% endfor %}
</table>
</body>
{%endblock%}
