{% extends "base.html" %}
{%load static%}

{%block content%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відділення Урології</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<style>
  body {
      font-family: 'Montserrat', sans-serif;
  }
</style>
<h1>Відділення Урології</h1>
<div class='doctor_image'>
    <img src="{% static 'images/doctor14.jpg' %}" alt="Doctor">
</div>
<section class='info'>
<p>
    Відділення урології є спеціалізованим медичним підрозділом, яке займається діагностикою, лікуванням і профілактикою захворювань сечовивідної системи у чоловіків і жінок, а також проблем, пов'язаних з чоловічою репродуктивною системою. 

    <ul><b>Основні аспекти діяльності відділення урології включають:</b>
    
    <li>Лікування захворювань нирок: Урологи займаються лікуванням різних захворювань нирок, таких як нефрит, нефроз, кам'яна хвороба нирок (нефролітіаз), гідронефроз, інфекції сечовивідних шляхів та інші.</li>
    <li>Діагностика та лікування захворювань сечового міхура: Урологи вивчають і лікують захворювання сечового міхура, такі як цистит, уретрит, сечокам'яна хвороба, дивертикули міхура та інші.</li>
    <li>Лікування сечокам'яної хвороби: Урологи проводять діагностику та лікування сечокам'яної хвороби, що полягає у виникненні каменів у сечовивідних шляхах, таких як нирки, сечовий міхур, сечоводи.</li>
    <li>Діагностика та лікування сексуальних дисфункцій: Урологи вивчають і лікують різні сексуальні дисфункції у чоловіків, такі як еректильна дисфункція, передчасна еякуляція, інші порушення функції статевих органів.</li>
    <li>Лікування інфекцій сечовивідних шляхів: Урологи займаються діагностикою та лікуванням інфекцій сечовивідних шляхів, таких як уретрит, цистит, пієлонефрит та інші.</li>
    <li>Лікування несправностей сечового тракту у дітей: Урологи спеціалізуються на лікуванні урологічних захворювань у дітей, таких як вроджені аномалії сечовивідної системи, кам'яна хвороба та інші.</li>
</ul>
</p></section>
    <ul class='list_of_symptoms'><b>При яких симптомах слід звертатися до лікаря уролога</b>
        <li>Часті сечові напади: Якщо ви відчуваєте потребу в частішому сечовипуску, особливо вночі (ніктурія), це може свідчити про проблеми з сечовивідною системою, такі як уретрит або збільшення простати.</li>
            <li>Біль або печіння під час сечовипуску: Це може бути ознакою інфекції сечовивідних шляхів, кам'яної хвороби (нефролітіазу) або іншої проблеми.</li>
                <li>Кров у сечі: Наявність крові у сечі (гематурія) може бути серйозним симптомом і може бути пов'язана з різними урологічними станами, такими як інфекція, каміння, рак сечового міхура чи інші проблеми.</li>
                    <li>Проблеми з ерекцією або сексуальним здоров'ям: У чоловіків проблеми з ерекцією, зміни в сексуальній функції або біль у сім'янках можуть бути причиною для консультації уролога.</li>
                    <li>Підозра на рак сечового міхура або простати: Зміни в сечі, біль у нижній частині живота або променевий біль у тазі можуть бути ознакою серйозних проблем, таких як рак сечового міхура чи простати.</li>
    </ul>
<div class='caption'><p>Крістина Зміїчкова, <br>завідуюча відділенням Урології</p>
<p>Практикує більше 16 років</p></div>
<table class="price" border='1'>
    <h2>Доступні послуги у відділенні<h2>
    <tr>
      <th>Послуга</th>
      <th>Вартість</th>
    </tr>
    {% for service in services %}
      <tr>
        <td>{{ service.NameOfService }}</td>
        <td>{{ service.Cost }}</td>
      </tr>
    {% endfor %}
</table>
{%endblock%}